/* src/App.css */
.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  